# Default ignored files
/../../BatchEnsemble_KAN /.idea/shelf/
/../../BatchEnsemble_KAN /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../BatchEnsemble_KAN /.idea/httpRequests/
# Datasource local storage ignored files
/../../BatchEnsemble_KAN /.idea/dataSources/
/../../BatchEnsemble_KAN /.idea/dataSources.local.xml
